body {
    text-align: center;
    margin: 0;
}
.glogo {
    height: 98px;
    width: 272px;
    margin: 2px 0px 30px;
}
.gs {
    margin: 200px 0px 0px 0px;

}
.searchbtn {
    margin: 0px;
    position: relative;
    left: 4px;
}
.searchbar1 {
    border-radius: 50px;
    outline: 0;
    height: 45px;
    margin: auto;
    width: 43%;
    position: relative;
    right: 20px;
    border: 1px solid #d5d4d4;
    padding: 0px 40px 0px 45px;
    outline: none;
    box-shadow: 0 2px 10px -7px #000;
    font-size: 16px;
}
.searchbar1 {
    margin: 0px 0px 25px;
}
.account {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 2px;
}
.btn {
    position: absolute;
    right: 52px;
    top: 15px;
    color: rgba(0,0,0,.87);
}
.google-image {
    position: absolute;
    right: 93px;
    top: 15px;
    color: rgba(0,0,0,.87);
}
.gmail {
    position: absolute;
    right: 139px;
    top: 15px;
    color: rgba(0,0,0,.87);
}
a {
    text-decoration: none;
    top: 8px;
    font-family: arial,sans-serif;
    font-size: 85.25%;
    color: rgba(0,0,0,.87);
}
.search-icon {
    position: absolute;
    z-index: 1;
}
.search-button {
    height: 19px;
    width: 19px;
    position: absolute;
    top: 10px;
    padding: 2px 2px 1px 0px;
}
.voice-icon {
    position: absolute;
    z-index: 1;
}
.voice-button {
    height: 21px;
    width: 21px;
    position: absolute;
    right: 45px;
    top: 12px;
}
.container {
    display: inline-block;
}
.container :hover {
    background-color: rgba(241, 243, 244, 1);
    border-radius: 5%;
}
.div-container {
    display: inline-block;
}
.icon-box {
    display: inline-block;
    background-color: #f1f3f4;
    border-style: solid;
    border-radius: 50%;
    border: none;
}
.add-button {
    height: 20px;
    width: 20px;
    padding: 12px 12px;
    position: relative;
    top: 2px;
}
.add-link {
    margin: 10px 15px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 0px 20px;
}
.link-container {
    padding: 20px 0px 0px;
}
a:hover {
    text-decoration: underline;
}